
html {
  scroll-behavior: smooth;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
font-family: 'Oswald', sans-serif;
  color: #252525;
  background-color: rgb(253, 245, 245);
  text-align: center;
  padding: 14px 16px;
  margin-top: 0px; 
  text-decoration: none;
  font-size: 17px;
  margin: 0 auto 0;
  display: block;
}

.about-me-container {
  background-color: rgb(230, 213, 225);
  width: 100%;
  height: 750px;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(209, 178, 202);
  color: black;
}

.title {
  background-color: rgb(228, 211, 231);
  display: block;
  overflow: hidden;
  width: 100%; 
  padding: 0;
  margin: 0 auto 0;
  padding-top: 0px;
}


.nav-bar-1 {

  background-color: rgb(235, 216, 226);
  display: block;
  overflow: hidden;
  width: 100%; 
  padding: 0;
  margin: 0 auto 0;
  padding-top: 0px;

}

.centered-photo-1 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  padding-bottom: 0;
}

.picture-name-container {

  padding-bottom: 0;
  background-color: #e8d7f0;

}

h2 {

  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 40px;

}

h3 {

 font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 30px;

}

/* image-container {
  display: inline-block;
  align-items: center;
  padding-right: 0; 
} */

p {
 font-family: 'Oswald', sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.4;
}

.my-name {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-align:center;
}

.paragraph-spacing {
  font-size: 20px;
  line-height: 2.4;
}

a {
  color: #3b0099; 
  text-decoration: none;
}

h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  letter-spacing: 0.8px;
  line-height: 1.4;
}


.profile-picture {
  width: 18%;
  height: 18%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-left: 60px;
  padding-bottom: 0;
  margin-bottom: 0;
  float: left;
}

.text-box-1-container {

  width: 100%;
  height: 400px;
  margin-top: 0;
  padding-top: 0;

}

.text-box-1 {


  justify-content: center;
  height: 340px;
  width: 1000px;
  margin: auto;
  margin-top: 0;
  text-align: right;
  align-items: center;
  padding-top: 40px;
  padding-right: 60px;
  float: right;

}

.mini-text-box {

  text-align: right;
  width: 1200px;
  border-width: 2px;
  padding-top: 80px;
  padding-left: 100px;

}


.about-me-container {
  vertical-align: middle;
  background-color: #e8d7f0;
  width: 100%;
  height: 620px;
  padding-bottom:0;
  margin-bottom:0;
}

body {
  background-color: rgb(247, 237, 241);
}

#aboutme {
  padding-bottom: 0;
}


.title-box{
  padding-top: 14px;
  padding-bottom: 0px;
  margin-bottom: 15px;
  margin-top: 3px;
}

.card-title {
  float: left;
  font-family: 'Oswald', sans-serif;
  color: #252525;
  font-size: 20px;
  margin-top: 0;
  padding-top: 21px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.card {
    background: rgb(240, 216, 225);
    width: 400px;
    height: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1500px;
  padding-left: 70px;
  padding-right: 50px;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 10px;
  line-height: 10px;
  align-content: center;
}

.card-body {
  width: 370px;
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  float: left;
}

.card-text {
  float: left;
}

.card-subtitle {
  float: left;
}

.links-box {
  float: left;
}

.html-badge {
  float: left;
}

h4 {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

h5 {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
}


.html-badge {
    background-color: #ffe4c7;
    color: #fff;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 4px;
    border-radius: 20px;
    height: 13px;
    width: 25px;
    border: 2px solid white;
}

.javascript-badge {
  background-color: #775b9b;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 55px;
  border: 2px solid white;
}

.css-badge {
  background-color: #e737bb;
  color: #fff;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 20px;
  border: 2px solid white;
}

.jquery-badge {
  background-color: #4ce0f3;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 33px;
  border: 2px solid white;
}

.figma-badge {
  background-color: #37e4b0;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 30px;
  border: 2px solid white;
}

.python-badge {
  background-color: #00d4b8;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 40px;
  border: 2px solid white;
}

.atom-badge {
  background-color: #ee1010;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 30px;
  border: 2px solid white;
}

.swift-badge {
  background-color: #000000;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  margin-bottom: 5px;
  border-radius: 20px;
  height: 13px;
  width: 30px;
  border: 2px solid white;
}

.xcode-badge {
  background-color: #1083ee;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 30px;
  border: 2px solid white;
}

.arduino-badge {
  background-color: #cbf0c0;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 55px;
  border: 2px solid white;
}

.bootstrap-badge {
  background-color: #fcf39a;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 53px;
  border: 2px solid white;
}

.MIT-badge {
  background-color: #98b12a;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 93px;
  border: 2px solid white;
}

.json-badge {
  background-color: #deafd6;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 28px;
  border: 2px solid white;
}

.java-badge {
  background-color: #e884b0;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 28px;
  border: 2px solid white;
}

.c-badge {
  background-color: #a5f0ea;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 20px;
  border: 2px solid white;
}

.my-techstack {
  padding-top: 13px;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.mytechstack-badges {
  margin-top: 11px;
  padding-top: 0px;
  padding-bottom: 2px;
}

.languages {
  padding-right: 8px;
}


.tech-stack {

  padding-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  width: 350px;
  height: 20px;
  margin-top: 0;
  padding-bottom: 20px;

}


.btn-primary {
    background-color: #898cae;
    color: #fff;
    font-size: 17px;
    font-family: 'Muli', sans-serif;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 4px;
    border: 2px solid white;
}

.dreamready-textbox {
  margin-top: 8px;
  padding-top: 8px;
  height: 40px;
}

#skills {
  background-color: rgb(240, 209, 225);;
  color: black;
}

#experiences {
  color:black;
}

.programming-languages-stack {
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  float: center;
}

.skills-textbox {
  text-align: center;
  width: 1430px;
  height: 200px;
  padding-right: 300px;

}

.photo-gallery-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1700px;
  padding-left: 240px;
  padding-right: 50px;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 10px;
  line-height: 10px;
  align-content: center;
}

.slideshow-title-1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.mySlides {
  width: 50%;
}

.w3-button {
  background-color: #3b0099;
  color: white;
}


#socials {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    text-align:center;
    width: 1450px;
    height: 200px;
    align-itemb v:center;
    margin-right: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.social-icons {
  margin-right: 15px;
}

.fa {
    color: #000;
    font-size: 1.5rem !important;
    padding: 0.7rem;
    padding-right: 5px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}



.experiences-card {
    background: rgb(243, 221, 250);
    width: 440px;
    height: 900px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.experiences-img-container {
  text-align: center;
  display: block;
}

.experiences-card-title {
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #252525;
  font-size: 20px;
  margin-top: 0;
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.experiences-card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1400px;
  padding-left: 20px;
  padding-right: 50px;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 10px;
  line-height: 10px;
  align-content: center;
}

.experiences-card-body {
  width: 375px;
  height: 850px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 0px;
  float: left;
  line-height: 1.2;
}

.card-text {
  float: left;
}

.card-subtitle {
  float: left;
}

.links-box {
  float: left;
}

.kwk {
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
}


.gwc {
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
}

.experiences-img-container-1 {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 110px;
  display: block;
}

.puf {
  margin-bottom: 0;
  justify-content: center;
  text-align: center;
}

h7 {

  font-family: 'Muli', sans-serif;
  font-style: bold;
  font-weight: 20px;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.4;

}

h8 {
  font-size: 30px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  color: #252525;
}

.coming-soon {
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #252525;
  font-size: 30px;
  margin-top: 0;
  padding-top: 80px;
  padding-left: 5px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

#press {
  background-color: rgb(221, 211, 231);;
  color: black;
  height: 2000px;
  
}

.press-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


iframe {
  border-style:none;
  margin-bottom: 50px;
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
  justify-content: center;
  padding-left: 45px;
}

.press-title {
  text-align:center;
}



